/* 该文件是网页主页，顶部标签栏的叠层样式表文件*/
.photowall {

    height: 40px;
    line-height: 40px;
    position: absolute;

    top: 0px;
    right:10px;
    /*右上角定位：https://jingyan.baidu.com/article/2c8c281d0c1f0c4008252ad8.html*/
    /*"CSS 布局 - position 属性  https://www.w3school.com.cn/css/css_positioning.asp"*/
    width: 10%;
    text-align: center;
    background:rgba(0,0,0,.8);
    color: #fff;
    font-family: Arial;
    font-size: 12px;
    letter-spacing: 1px;
}
.photowall h5 {
    font-size: 5px;
    font-weight: 100px;
}


.blog {

    height: 40px;
    line-height: 40px;
    position: absolute;

    top: 0px;
    right:200px;
    /*右上角定位：https://jingyan.baidu.com/article/2c8c281d0c1f0c4008252ad8.html*/
    /*"CSS 布局 - position 属性  https://www.w3school.com.cn/css/css_positioning.asp"*/
    width: 10%;
    text-align: center;
    background:rgba(0,0,0,.8);
    color: #fff;
    font-family: Arial;
    font-size: 12px;
    letter-spacing: 1px;
}
